

.sidesticky{
    position: sticky; /* Makes the div sticky */
    top: 0;           /* Keeps it at the top as you scroll */
    height: 100vh;    /* Full viewport height */
    z-index: 10;   
    width: 25vw;
    display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  }


.cardm {
    height: 92%;
    color: rgb(248, 245, 250);
  width: 75%   ;
    background-color: #3c3b39;
    display: grid;
    
    grid-template-rows: min-content;
    gap: 8px;
    border-radius: 20px;
    padding: 29px 29px;
}

.cardm h1 {
    letter-spacing: 1.5px;
    font-weight: 550;
    line-height: 33px;
font-size: 30px;
}

.name {
   height: fit-content;
    font-size: clamp(1.5rem, 2vw + 0.5rem, 2.2rem);
    padding-bottom: 9px;
    line-height: 30px;
}

.cardm img {
    height: 210px;
    width: 100%;
    border-radius: 20px;
   
    object-fit: cover;
}

.abt-me {
    padding-top: 10px;
 height: fit-content;
  
   display: flex;
   flex-direction: column;
   justify-content: center;
 
   padding-bottom: 13px;
   
}

.f-d {
    font-size: 23px;
    letter-spacing: 1px;
    font-weight: 500;
}

.h-5 {
    margin-top: 20px;

}

.u-d {
    font-size: 17px;
}

.c-d {
    font-size: 13px;
    margin-bottom: 33px;
}

.social-link ul {
    display: flex;
    list-style: none;
  padding: 0 9px;
     transition: transform 0.3s ease;
    justify-content: space-between;
    justify-items: center;
   
    height: 36px;
    align-items: end;
    width: 100%;
}
.social-link ul a:hover {
  transform: translateY(-5px); /* Moves the button upward by 5px */
}







.btn-card {
    background: rgb(240, 210, 249);
    background: linear-gradient(90deg, rgba(240, 210, 249, 1) 27%, rgba(255, 209, 244, 1) 54%, rgba(213, 220, 255, 1) 100%);
    border: none;
    width: 100%;
    height: 37px;
    border-radius: 30px;
    font-weight: 500;
  display: flex;
    justify-content: center;
    align-items: center;
    color: black;
 
}
.btn-card:hover{
    cursor: pointer;
    background-color: rgb(240, 210, 249);
    background: linear-gradient(90deg, rgba(240, 210, 249, 1) 27%, rgb(154, 201, 255) 54%, rgba(213, 220, 255, 1) 100%);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    border:1px solid rgb(240, 210, 249) ;
    transition: all 0.5s ease;
}

.social-link{
    width: 100%;
    display: flex;
    align-items: end;
}

@media (max-height: 768px) {
   

}

@media (max-width:600px){
    .sidesticky{
        position: relative;
        padding-top: 0px;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cardm{
        margin-left: 0px;
      height: 87%;
        margin-bottom: 0px;

    }
    .cardm h1{
        font-size: 2.8rem;
        line-height: 45px;
        letter-spacing: 2.5px;
    }
    .cardm img{
        height: 245px;
    }
    .abt-me {
       font-size: 1.2rem;
       height: fit-content;
    }
    .social-link {
        margin-top: 20px;
    }
}